body{
background:url("travelling-spain-tours-and-holiday-packages-in-spain-1503907505-1920X700.jpg");
background-repeat: no-repeat;
background-size:200%;
}



form{

padding:10px;
margin:0 auto;
text-align:center;
width:390px;
height:450px;
margin-top:35px;
font-size:18px;
background:#121212;
}

input{
    width:350px;
    height:35px;
    margin-top:15px;
    text-align: center;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button{
    width:250px;
    height:35px; 
    margin-top:15px;
    background:#116c8a;
    color:#fff;
    border:0;
}
input.reset{
    background:#116c8a;
    border:0;
    width:250px;
    color:#fff;
}

h4{
    font-size:25px;
    text-align:center;
    background:#116c8a;
    margin:0;
    padding:10px;
}



i{
 display: inline;
 margin-top:9px;
 font-size:25px;
 margin-left:8px;
}

.fa-linkedin{
    color:#116c8a;
}

.fa-facebook{
    color:#116c8a; 

    padding:10px;
    border-radius:90%;
}

.fa-twitter{
    color:#116c8a;  
}

.fa-linkedin:hover{
    padding:10px;
    border-radius:90%;
    background:#fff;
    transition:1s ease-in-out;
}

.fa-facebook:hover{
    padding:10px;
    border-radius:90%;
    background:#fff;
    transition:1s ease-in-out;
    color:#1e1e1e;
}

.fa-twitter:hover{
    padding:10px;
    border-radius:90%;
    background:#fff;
    transition:1s ease-in-out;
}

input.reset:hover{
    width:150px;
    background:#ebebeb;
    transition:1s ease-in-out;
    font-weight:bold;
    color:#1e1e1e;
}

button:hover{
    width:150px;
    background:#ebebeb;
    transition:1s ease-in-out;
    font-weight:bold;
    color:#1e1e1e;
}